/* CSS Main site*/
body {
	background-color: rgb(232, 251, 254);
}

.main-nav {
	width: 100%;
	background-color: rgb(3, 20, 63);
	box-sizing: border-box;
	padding: 1px 10px;
	border-radius: 10px 10px 0 0;

}

.search img {
	margin-top: -32px;
	margin-left: 20px;

}

form {
	margin: 50px 600px;

}

button {
	cursor: pointer;
}

.dashboard {
	border-left: 2px solid rgb(252, 251, 251);
	padding-left: 8px;
	margin-left: 50px;
	height: 40px;
	display: flex;
	align-items: center;
}

.nav-list {
	display: flex;
	align-items: center;
	list-style: none;
	margin: 0;
	padding: 0;
	justify-content: flex-end;
	/* padding: 4px; */


}

.nav-list>li {
	position: relative;

}

.logo {
	margin: 30px;

}

.nav-list>li>a,
.dropdown:hover {
	display: blocks;
	padding: 10px 20px;
	color: #8adbf7;
	text-decoration: none;
	white-space: nowrap;

}

.nav-list>li>a:hover,
.dropdown {
	color: #011058;
}

.nav-list>li:not(.search)>a:hover,
.dropdown>span:hover {
	background-color: rgb(101, 188, 210);
}

.dropdown {
	position: relative;
}

.dropdown-menu {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	list-style: none;
	margin: 0;
	padding: 0;
	min-width: 140px;
	background-color: #fdfcfc;
	z-index: 1000;
}

.dropdown-menu li {
	padding: 12px 25px;
	color: rgb(12, 12, 12);
	white-space: nowrap;
}

.dropdown-menu li:hover {
	background-color: rgb(73, 118, 207);

}

.dropdown:hover .dropdown-menu {
	display: block;
}

.dropdown {
	display: inline;

	border-radius: 360px;
	position: relative;
}

.dropdown summary {
	color: #151313;
	padding: 10px 15px;
	cursor: pointer;
	list-style: none;
	background-color: #d7d8d9;
	border-radius: 360px;
}

ul {

	font-family: Tahoma;
	font-size: 1em;



}

nav ul a {
	text-decoration: none;
	color: white;
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;

}

nav img {
	position: absolute;
	top: 30px;
	left: 15px;
}


.dashboard-header {
	background-color: rgb(3, 20, 63);
	color: white;
	padding: 10px;
	border-radius: 10px;
	margin: 10px;
	transform: translateY(8px);
	height: 70px;
}

.dashboard-header h3 {
	color: #8adbf7;
	border-radius: 15px;
	margin: 10px;
}

.dashboard-header h2 {
	margin: 10px;
}

.started-courses,
.course-overview {
	margin-top: 30px;
}

.started-courses {
	margin: 30px auto 0;
	min-height: 200px;
	border: 1px solid #a3f4fd;
	border-radius: 9px;
	background-color: #ffff;
	padding: 30px;
	width: 100%;
	max-width: 1300px;

}

.started-courses h4 {
	font-weight: normal;

}

.course-icon {
	font-size: 50px;
}

.course-overview {
	margin-top: 30px;
	padding: 20px;

}

.course-control button,
.course-control input,
.course-control select {
	background-color: #fdfcfc;
	border: 1px solid#0f0f0f;
	padding: 8px 12px;
	border-radius: 8px;

}
.course-control option{
	background-color: white;
	font-family: tahoma;
	color: #0c64c2;
}
#container{
	display: flex;
	flex-wrap: wrap;
}

.course-overview {
	margin: 30px auto 0;
	min-height: 200px;
	border: 1px solid #a3f4fd;
	border-radius: 9px;
	background-color: #fdfcfc;
	padding: 30px;
	width: 100%;
	max-width: 1300px;

}
/* #container div {
	margin: 18px 1px 10px 8px;
	min-height: 20px;
	border: 1px solid #a3f4fd;
	border-radius: 9px;
	background-color: #fdfcfc;
	padding: 30px;
	width:100px;
	max-width: 1100px;


}
#container .barbar{
	background-color: red;
	border: gold;
	border-radius: 10px;
	 width:10%;
	height: 100px; 
	padding: 0;
	margin: 0;
} */






/*For Computer*/
.course-control{
	display: flex;
	gap: 10px;
}
/* For Tablet*/
@media (max-width:1024px) {
	.course-control{
		flex-wrap: wrap;
	}
	
}
/* For Moble Phon*/
@media (max-width:600px) {
	.course-control{
		flex-direction: column;
	}
.course-control input,
.course-control select,
.course-control button{
	width: 100%;
}
	
}